<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Vytvořit nový dres</nb-card-header>
      <nb-card-body>
        <form class="form-inline" [formGroup]="form" (submit)="addJersey(form.value)">
          <input type="text" class="form-control full-width" formControlName="name" placeholder="Barva dresu">
          <div class="input-group full-width">
            <input type="text" class="form-control" formControlName="value" placeholder="Hodnota dresu">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div *ngFor="let jersey of jerseyArray" class="col-6 col-md-4">
    <nb-card>
      <nb-card-header>
        <h2>{{jersey.name}}</h2>
      </nb-card-header>
      <nb-card-footer>
        <div class="btn-with-icon-example btn-group-full-width">
          <button class="btn btn-danger full-width" type="button" (click)="deleteJersey(jersey._id)">
            <span>Odebrat</span>
          </button>
        </div>

      </nb-card-footer>
    </nb-card>
  </div>
</div>

