<div class="row">
    <div class="col-md-12" *ngIf="roleCheck.isAdmin()">
      <nb-card>
        <nb-card-header>
          <h2>Vytvořit nový zápas</h2>
        </nb-card-header>

        <nb-card-body>
          <form autocomplete="nope" novalidate="" class="ng-touched ng-dirty ng-valid" [formGroup]="form" (submit)="addMatch(form.value)">
            <div class="form-group">
              <label for="matchName">Název zápasu</label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="title" id="matchName" placeholder="Název zápasu">
              </div>
            </div>
            <div class="form-group">
              <label for="matchDate">Datum konání zápasu</label>
              <input type="date" class="form-control" formControlName="date" id="matchDate" placeholder="Datum konání zápasu">
            </div>
            <div class="form-group">
              <label for="matchPlace">Místo konání zápasu</label>
              <select class="form-control" formControlName="place" id="matchPlace" placeholder="Místo konání zápasu" [ngModel]="place">
                <option *ngFor="let place of placeArray" value="{{place.name}}" [ngValue]="place">{{place.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="matchInfo">Poznámka k zápasu</label>
              <input type="text" class="form-control" formControlName="note" id="matchInfo" placeholder="Poznámka k zápasu">
            </div>
            <button type="submit" class="btn btn-hero-success">Odeslat</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
</div>
<div class="row">
    <div *ngFor="let match of matchArray" class="col-6 col-md-4">
      <nb-card>
        <nb-card-header>
          <h2>{{match.title}}</h2>
        </nb-card-header>
        <nb-card-body>
          <ul>
            <li *ngIf="match.date">Datum: {{match.date | amDateFormat: 'DD.MM.YYYY'}} v {{match.date | amDateFormat: 'HH:mm'}}</li>
            <li *ngIf="match.place">Místo: {{match.place}}</li>
            <li *ngIf="match.enrollment.players"> Zůčastní se
              <ul>
                <li *ngFor="let player of match.enrollment.players">{{player.name}}</li>
              </ul>
            </li>
            <li *ngIf="match.info">{{match.info}}</li>
          </ul>
        </nb-card-body>
        <nb-card-footer>
          <div class="btn-with-icon-example">
            <button class="btn btn-success btn-with-icon" type="button" (click)="matchParticipation(true, match._id)">
              <i class="nb-home"></i>
              <span>Zůčastním se</span>
            </button>
          </div>
          <div class="btn-with-icon-example">
            <button class="btn btn-danger btn-with-icon" type="button" (click)="matchParticipation(false, match._id)" style="margin-top: 10px">
              <i class="nb-home"></i>
              <span>Nezůčastním se</span>
            </button>
          </div>

        </nb-card-footer>
      </nb-card>
    </div>
</div>

