<div class="container-fluid page-wrapper-c-all">
  <div class="col-lg-10 bg-white p-5 packix-tile">
    <div class="loader-container" *ngIf="submitted">
      <div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>
    </div>
    <header>
      <h1 class="text-center text-uppercase color-main">Finish Registration</h1>
    </header>
    <form [formGroup]="form" (submit)="onSubmit(form.value)" class="form login-form row">

      <div class="group d-flex flex-column col-lg-6"
           [ngClass]="{ 'error' : name.invalid && (name.dirty || name.touched) && request.name == null }">
        <input type="text" id="name" [readonly]="request.name != null" value="{{request ? request.name : null}}" formControlName="name">
        <label for="name">Name</label>
        <small class="text-danger" *ngIf="name.hasError('required') && (name.dirty || name.touched) && request.name == null">Name is required</small>
        <small class="text-danger" *ngIf="name.hasError('minlength') && request.name == null">Name is too short (min 5 characters)</small>
      </div>

      <div class="group d-flex flex-column col-lg-6">
        <input type="email" id="email" readonly value="{{request ? request.email : null}}">
        <label for="email">Email</label>
      </div>

      <div class="group d-flex flex-column col-lg-6"
           [ngClass]="{ 'error' : username.invalid && (username.dirty || username.touched) }">
        <input type="text" id="username" formControlName="username" required>
        <label for="username">Username</label>
        <small class="text-danger" *ngIf="username.hasError('required') && (username.dirty || username.touched)">Username is required</small>
        <small class="text-danger" *ngIf="username.hasError('minlength')">Username is too short (min 5 characters)</small>
        <small class="text-danger" *ngIf="username.hasError('maxlength')">Username is too long (max 20 characters)</small>
        <small class="text-danger" *ngIf="username.hasError('in-use')">Username is in use. Please choose different</small>
        <small class="text-danger" *ngIf="username.hasError('is-upper-case') && username.value">For security reasons we only allow lowercase alphanumerics</small>
      </div>
      <div class="group d-flex flex-column col-lg-6"
           [ngClass]="{ 'error' : number.invalid && (number.dirty || number.touched) }">
        <input type="text" id="number" formControlName="number" required>
        <label for="username">Číslo dresu</label>
        <small class="text-danger" *ngIf="number.hasError('required') && (number.dirty || number.touched)">Username is required</small>
        <small class="text-danger" *ngIf="number.hasError('in-use')">Username is in use. Please choose different</small>
      </div>

      <div class="group d-flex flex-column col-lg-6"
           [ngClass]="{ 'error': password.hasError('required') && (password.dirty || password.touched) }">
        <input type="password" id="password" formControlName="password">
        <label for="password">Password</label>
        <div class="progress mt-2" style="height: 5px" *ngIf="!password.hasError('required')">
          <div class="progress-bar"
               [ngStyle]="{ 'width': 'calc((100% / 3) * ' + (password.getError('passwordStrength') ? password.getError('passwordStrength').strength : 3) }"
               [ngClass]="{
               'bg-danger' : password.getError('passwordStrength')?.strength === 1,
               'bg-warning' : password.getError('passwordStrength')?.strength === 2,
               'bg-success' : !password.hasError('passwordStrength') }"></div>
        </div>
        <small class="text-danger" *ngIf="password.hasError('required') && (password.dirty || password.touched)">Password is required</small>
      </div>

      <div class="group d-flex flex-column col-lg-6"
           [ngClass]="{ 'error' : passwordSubmit.invalid && (passwordSubmit.dirty || passwordSubmit.touched) }">
        <input type="password" id="passwordSubmit" formControlName="passwordSubmit">
        <label for="passwordSubmit">Confirm Password</label>
        <small class="text-danger" *ngIf="passwordSubmit.hasError('required') && (passwordSubmit.dirty || passwordSubmit.touched)">Password Confirmation is required</small>
        <small class="text-danger" *ngIf="form.hasError('passwordConfirmation') && password.value !== null && (passwordSubmit.dirty || passwordSubmit.touched)">Passwords do not match</small>
      </div>

      <div class="group d-flex flex-column col-lg-12">
        <input class="button" [ngClass]="{'btn-disabled': !form.valid && form.touched }" type="submit" value="Register">
      </div>

    </form>
    <footer class="row">
      <a [routerLink]="['/login']" class="col-sm-6 text-muted">Already have an account?</a>
      <a [routerLink]="['/auth/forgotten-credentials']" class="col-sm-6 text-sm-right text-muted">Forgot Credentials?</a>
    </footer>
  </div>
</div>
