@import "variables";

.profile-picture{
  position: relative;
  overflow: hidden;
  background: $text_5;
  z-index: 2;
  border: 2px solid $text_4;
  box-sizing: border-box;

  &::after{
    position: absolute;
    content: attr(ns-jersey-number);
    text-align: center;
    color: $text_2;
    left: 0;
    top: 0;
    width: 100%;
  }

  &.small{ width: 32px; height: 32px; min-width: 32px; min-height: 32px; line-height: 29px; font-size: 0.85rem; }
  &.medium{ width: 48px; height: 48px; min-width: 48px; min-height: 48px; line-height: 48px; font-size: 1rem; }
  &.large{ width: 64px; height: 64px; min-width: 64px; min-height: 64px; line-height: 64px; font-size: 1.1rem; }
  &.xlarge{ width: 96px; height: 96px; min-width: 96px; min-height: 96px; line-height: 96px; font-size: 1.25rem; }

  &.round{
    border-radius: 50%;
  }

  img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-height: 125%;
    object-fit: scale-down;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 1;
  }

}
