$main: #4786FE;
$main_white: #f2f6ff;
$text_5: #F9FBFF;
$text_4: #F0F2F5;
$text_3: #E0E2E5;
$text_2: #98A0A6;
$text_1: #4D4D4D;

$menu_height: 55px;

$error_dark: #C0392B;
$error_light: #E74C3C;

$white: #FFF;
$black: #000;
$grey: #7f8c8d;

$alert_error_bg: #F2DFDE;
$alert_error_col: #A94442;

$alert_success_bg: #DAEBD3;
$alert_success_col: #3C763D;

$alert_info_bg: #D7EBF4;
$alert_info_col: #317091;

$alert_warn_bg: #FCF8E3;
$alert_warn_col: #896D3B;


$body_bg: #F5F7FA;

$mobileSize: 568px;

$font_family: "Open Sans";

$fs_tiny: 0.55rem;
$fs_smallest: 0.65rem;
$fs_smaller: 0.75rem;
$fs_small: 0.85rem;
$fs_normal: 1rem;
$fs_big: 1.15rem;
$fs_bigger: 1.25rem;
$fs_biggest: 1.5rem;
$fs_large: 1.75rem;
$fs_larger: 2rem;
$fs_largest: 2.5rem;


$zi-sidebar: 9999;
$zi-modals: 10999
